#top {
  height: 20px;
  background-color: white;
}

.container-xl {
  background-color: rgb(223, 222, 222);
}

h1 {
  color: green;
  font-size: 4em;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

#new-to-dos {
  margin-bottom: 30px;
}

#new-task {
  border: none;
  width: 100%;
  font-size: 1.5em;
}

#add {
  border: none;
  margin-top: -15px;
  margin-left: -5px;
  font-size: 2.5em;
  color: green;
  background-color:rgb(250, 252, 201);
}

#add:hover {
  font-weight: bold;
}

#to-do-list {
  display: flex;
  flex-direction: column;
  color: rgb(77, 77, 77);
  flex-wrap: nowrap;
}

#main {
  background-color: rgb(250, 252, 201);
  width: 90%;
  margin: auto;
  padding: 50px;
}

@media (min-width: 768px) {
  #main {
    width: 60%;
  }
}

#status {
  text-align: center;
}

.statusButton {
  margin: 20px 20px 0px 20px;
  border: none;
  font-size: 1.25em;
}

.delete {
  color:rgb(77, 77, 77);
  background-color:rgb(250, 252, 201);
  border: none;
}

.delete:hover {
  font-weight: bold;
  text-decoration: none;
}

#bottom {
  height: 100px;
  width: 100%;
}
